body {
  --header-height: 48px;
  --menu-animation-duration: 0.25s
}

.menu-wrapper {
  max-width: 100%;
  min-height: 100vh;
  min-width: 100vw;
  font-family: Roboto;
  font-size: 16px;
}

.menu-header {
  top: 0;
  height: var(--header-height);
  z-index: 600;
  position: sticky;
  display: flex;
  background-color: #fff;
  justify-content: space-evenly;
  box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.1);
}

.menu-header__context {
  flex: 1;
  display: flex;
  padding: 0 20px;
  align-items: center;
  justify-content: space-between;
  box-shadow: 1px 0 0 0 #ccc inset, -1px 0 0 0 #ccc inset;
}

.menu-header__context-left,
.menu-header__context-right {
  height: 100%;
  display: flex;
  align-items: center;
}

.menu-header__trigger {
  display: flex;
  padding: 0 20px;
  align-items: center;
  justify-content: space-between;
}

.menu-header__trigger {
  min-width: 240px;
  max-width: 240px;
}

.menu-header__user {
  min-width: 68px;
  max-width: 68px;
}

.user-menu {
  display: flex;
  cursor: pointer;
  position: relative;
  align-items: center;
  justify-content: center;
}

.user-menu__userpic {
  width: 28px;
  height: 28px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: center;
  border-radius: 13.5px;
  justify-content: center;
  background: rgba(0, 0, 0, 0.04);
  box-shadow: inset 0px 0px 0px 1px rgba(0, 0, 0, 0.1);
}

.user-menu__userpic img {
  opacity: 0;
  width: 100%;
  height: 100%;
  font-size: 12px;
  line-height: 22px;
  object-fit: cover;
  position: absolute;
}

.user-menu__username {
  display: block;
  font-size: 12px;
  line-height: 22px;
  font-weight: bold;
  font-family: Roboto;
  opacity: 0.4;
}

.content-wrapper__body {
  display: flex;
  min-width: 100%;
  min-height: 100%;
}

.content-wrapper__content {
  flex: 1;
}

.main-menu-trigger {
  width: 18px;
  height: 14px;
  cursor: pointer;
  position: relative;
  display: inline-block;
}

.main-menu-trigger span {
  height: 2px;
  width: 100%;
  display: block;
  position: absolute;
  background-color: #000;
}

.main-menu-trigger-animated span{
  transition: all var(--menu-animation-duration) ease;
}

.main-menu-trigger:hover span,
.main-menu-trigger-opened span {
  background-color: #0077FF;
}

.main-menu-trigger span:nth-child(1) {
  top: 0;
}

.main-menu-trigger span:nth-child(2) {
  top: 50%;
  opacity: 1;
  transform: translate3d(0, -50%, 0);
}

.main-menu-trigger span:nth-child(3) {
  bottom: 0;
}

.main-menu-trigger-opened span:nth-child(1) {
  top: 6px;
  transform: rotate(135deg);
}

.main-menu-trigger-opened span:nth-child(2) {
  opacity: 0;
  transform: translate3d(-100%, -50%, 0);
}

.main-menu-trigger-opened span:nth-child(3) {
  bottom: 6px;
  transform: rotate(-135deg);
}

.menu-dropdown {
  top: 100%;
  z-index: 500;
  width: 240px;
  padding: 8px;
  display: none;
  min-width: 240px;
  position: absolute;
  box-sizing: border-box;
  background-color: #fff;
  box-shadow: 0 5px 20px rgba(0,0,0,0.2);
}

.menu-dropdown-align_left {
  left: -20px;
}

.menu-dropdown-align_right {
  right: -20px;
}

.menu-dropdown-before-appear {
  opacity: 0;
  display: flex;
  transform: translate3d(0, -30px, 0);
  transition: all var(--menu-animation-duration) cubic-bezier(.21,1.04,.68,1);
}

.menu-dropdown-appear {
  opacity: 1;
  transform: translate3d(0, 0, 0);
}

.menu-dropdown-visible {
  opacity: 1;
  display: flex;
}

.menu-dropdown-before-disappear {
  opacity: 1;
  display: flex;
  transform: translate3d(0, 0, 0);
  transition: all var(--menu-animation-duration) cubic-bezier(.21,1.04,.68,1);
}

.menu-dropdown-disappear {
  opacity: 0;
  transform: translate3d(0, -30px, 0);
}

.menu-dropdown__menu {
  flex: 1;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  list-style-type: none;
}

.menu-dropdown__item {
  height: 48px;
  display: flex;
  padding: 0 13px;
  border-radius: 3px;
  align-items: center;
  box-sizing: border-box;
  color: rgba(0,0,0,0.6);
  font-size: 16px;
  font-family: Roboto;
}

.menu-dropdown__item-icon {
  display: block;
  margin-right: 10px;
  object-fit: contain;
  opacity: 0.5;
}

.menu-dropdown__item:hover {
  color: #000;
}

.menu-dropdown__item:not(.menu-dropdown__item-active):hover {
  background-color: rgba(0, 0, 0, 0.04);
}

.menu-dropdown__item-active {
  color: #000;
  background-color: rgba(0, 0, 0, 0.08);
}

.menu-dropdown__item-active:not(.sidebar__pin) {
  pointer-events: none;
}

.menu-dropdown__item:hover .menu-dropdown__item-icon,
.menu-dropdown__item-active .menu-dropdown__item-icon {
  opacity: 1;
}

.menu-dropdown__spacer {
  flex: 1;
}

.menu-dropdown__divider {
  height: 1px;
  margin: 8px 0;
  background-color: rgba(0, 0, 0, 0.1);
}

.sidebar {
  overflow: auto;
  position: static;
  height: calc(100vh - var(--header-height));
}

.sidebar .icon {
  transition: transform 0.1s ease;
  transform: rotate(0deg);
}

.sidebar-floating {
  position: absolute;
  top: var(--header-height);
  box-shadow: 0 0 0 9999px rgba(0,0,0,0.2);
}

.sidebar:not(.sidebar-floating) {
  box-shadow: 1px 0 0 rgba(0, 0, 0, 0.1);
}

.sidebar.sidebar-floating .unpin-menu {
  display: none;
}

.sidebar:not(.sidebar-floating) .pin-menu {
  display: none;
}

.sidebar:not(.sidebar-floating) .sidebar__pin .icon {
  opacity: 1;
  transform: rotate(-45deg);
}

.header-icon {
  width: 18px;
  height: 18px;
  object-fit: contain;
}

.version-notification {
  display: flex;
  padding: 10px 0;
  color: #0077FF;
  margin: 8px 0;
  background: rgba(0, 119, 255, 0.08);
}

.version-notification__icon {
  width: 46px;
  padding-top: 1px;
}

.version-notification__icon img {
  width: 20px;
  height: 20px;
  margin: 0 auto;
  display: block;
}

.version-notification__content {
  flex: 1;
  padding-right: 12px;
}

.version-notification__title {
  font-weight: 500;
  line-height: 22px;
  font-size: 16px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.version-notification__title::after {
  opacity: 0.5;
  line-height: 22px;
  font-size: 14px;
  content: attr(data-date);
}

.version-notification__description {
  padding-top: 8px;
  opacity: 0.6;
  font-size: 14px;
  line-height: 18px;
}

.breadcrumbs {
  height: 100%;
  display: flex;
  align-items: center;
}

.breadcrumbs__list {
  height: 100%;
  display: flex;
  align-items: center;
  list-style-type: none;
  margin: 0;
}

.breadcrumbs__item {
  font-family: Roboto;
  font-size: 16px;
  line-height: 22px;
  position: relative;
  margin: 0;
  padding: 0;
  height: 100%;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.breadcrumbs__item + .breadcrumbs__item {
  margin-left: 30px;
  opacity: 0.6;
}

.breadcrumbs__item + .breadcrumbs__item::before {
  top: 50%;
  right: 100%;
  width: 30px;
  content: "";
  height: 16px;
  opacity: 0.5;
  display: block;
  position: absolute;
  transform: translate3d(0, -50%, 0);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url('/static/images/header/arrow.svg');
}

.breadcrumb__settings {
  width: 20px;
  height: 20px;
  display: block;
  margin-left: 10px;
}

.breadcrumb__settings img {
  display: block;
  opacity: 0.23;
}
