{% extends "wrapper.html" %}
{% block page_content %}
<div class="menu">
  <div class="menu-header">
    <div class="menu-header__menu">

    </div>
    <div class="menu-header__context">
      Context part here
    </div>
    <div class="menu-header__user">
      User part here
    </div>
  </div>

  <div class="menu-body">
    <div class="menu-body__sidebar sidebar">
      .sidebar
    </div>
    <div class="content">
      {% block body %}
        <div>Heidi is an Opossum!</div>
      {% endblock %}
    </div>
  </div>
</div>
{% endblock %}
