{% extends "wrapper.html" %}

{% import "includes/helpers.html" as helpers %}
{% import "components/menu_dropdown.html" as menu %}
{% import "components/userpic.html" as userpic %}

{% block page_content %}
<div class="content-wrapper">
  {% if menu_bar_enabled %}
    <div class="menu-header">
      <div class="menu-header__trigger menu-trigger">
        <img src="/static/images/logo-black.svg" alt="Label Studio Logo" height="22">
        {% include 'components/hamburger.html' %}
      </div>
      <div class="menu-header__context">
        <div id="context-menu-left" class="menu-header__context-left">
          {% block context_menu_left %}{% endblock %}
        </div>
        <div id="context-menu-right" class="menu-header__context-right">
          {% block context_menu_right %}{% endblock %}
        </div>
      </div>
      <div class="menu-header__user user-menu">
        {{ userpic.avatar('#', 'NS') }}

        {% call menu.wrapper(align="right") %}
          {{ menu.menu_item("Account and settings") }}
          {{ menu.menu_item("Dark mode") }}
          {{ menu.menu_item("Log out") }}
        {% endcall %}
      </div>
    </div>
  {% endif %}

  <div class="content-wrapper__body">
    {% if menu_bar_enabled %}
      {% call menu.wrapper(class="sidebar sidebar-floating") %}
        {{ menu.menu_item("Tasks", url="/tasks", icon="folder") }}
        {{ menu.menu_item("Model", url="/model", icon="office") }}

        <li class="menu-dropdown__spacer"></li>

        {% include "components/version_notification.html" %}

        {{ menu.menu_item("API", icon="terminal") }}
        {{ menu.menu_item("Docs", icon="book", url="/guide") }}

        <li class="menu-dropdown__divider"></li>

        {% call menu.menu_item(icon="pin", class="sidebar__pin") %}
          <span class="pin-menu">Pin menu</span>
          <span class="unpin-menu">Unpin menu</span>
        {% endcall %}
      {% endcall %}
    {% endif %}

    <div class="content-wrapper__content">
      {% block body %}
        <div>Heidi is an Opossum!</div>
      {% endblock %}
    </div>
  </div>
</div>
{% endblock %}
