{% import "includes/helpers.html" as helpers %}

{% macro wrapper(class="", align="") -%}
  {% set class_name = "menu-dropdown" %}

  {% set class_name = (class_name + " " + class) if class else class_name %}

  {% set class_name = (class_name + " menu-dropdown-align_" + align) if align else class_name %}

  <div class="{{ class_name }}">
    <ul class="menu-dropdown__menu">
      {{ caller() }}
    </ul>
  </div>
{%- endmacro %}

{% macro menu_item(label, icon="", class="", active=false, url="#") -%}
  {% set active = active or (url in request.path) %}
  {% set class = "menu-dropdown__menu__item-active " + class if active == true else class %}

  <li><a class="menu-dropdown__menu__item {{ class }}" href="{{ url }}">
    {{ helpers.icon(icon, class="icon menu-dropdown__menu__item-icon") if icon }}
    {{ caller() if caller is defined else label }}
  </a></li>
{%- endmacro %}
